@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Inter&family=Playfair+Display:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1E1E1E;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* Скрытое меню */
.side h2 {
    text-align: left;
    font-family: 'Bona Nova';
    font-size: 30px;
    margin-bottom: 20px;
}
.sidenav h3 {
    font-family: 'Playfair Display';
    line-height: 30px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav button {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    margin-top: 15px;
    margin-left: 40px;
}
.sidenav .closebtn {
    position: absolute;
    top: 28px;
    right: 25px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
    color: #486A6F;
}

.sidenav .side {
    padding-left: 40px;
}

/* Хедер */
header {
    background: #F1F1F1;
}
.nav {
    display: flex;
    align-items: center;
    column-gap: 7vw;
    height: 6vw;
    border-bottom: 1px solid #E1E1E1;
}
.nav__menu {
    display: flex;
    column-gap: 2vw;
}
.nav__menu a h3:hover {
    font-weight: 600;
}
.nav__menu a h3:active {
    font-size: 20px;
}
.nav-h3 {
    color: #1E1E1E;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-h2 {
    color: #1E1E1E;
    font-family: 'Bona Nova';
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav__burger {
    display: none;
}

/* О нас */

.about {
    background: #F1F1F1;
}
.about__flex {
    /* background: no-repeat top/100% url(../img/about-bg1.jpg); */
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3vw 3vw 7vw;
}
.about__item {
    max-width: 375px;
    z-index: 2;
}
.right {
    margin-left: auto;
    margin-top: 1vw;
    margin-right: 2vw;
}
.about-h2, .services-h2 {
    color: var(--night, #1E1E1E);
    font-family: 'Playfair Display';
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 1vw;
}
.about-p {
    color: #1E1E1E;
    font-family: 'Playfair Display';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 240px;
}
.about-gray {
    display: inline-block;
    color: #BEBEBE;
    font-family: 'Playfair Display';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 
.about svg {
    display: inline-block;
    margin-right: 3vw;
}
.about-line {
    margin-top: 20vw;
    margin-bottom: 1vw;
    width: 15vw;
    height: 1px;
    background: #E1E1E1;
}
.about-pb {
    color: #BEBEBE;
    font-family: 'Playfair Display';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about-h2b {
    margin-top: 25vw;
    color: #1E1E1E;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.about-btn {
    margin-top: 1vw;
    border-radius: 8px;
    background: #F19A3E;
    border: none;
    width: 17vw;
    height: 3vw;
    color: white;
}
.about-btn:hover {
    box-shadow: 0 0 10px #F19A3E;
}
.about-btn:active {
    box-shadow: 0 0 18px #c16401;
}
.about-btn svg {
    margin: 0;
}
.about-btn p {
    display: inline-block;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2px;
    vertical-align: top;
}
.about-img {
    position: absolute;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    max-width: 45vw;
    height: auto;
    width: -webkit-fill-available;
}
/* Услуги */
.services {
    padding: 6% 0 8%;
    background: #F0EBE4;
}
.services-h2 {
    text-align: center;
}
.services-h3 {
    color: #F19A3E;
    font-family: 'Playfair Display';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    }

.services__flex {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vw;
    column-gap: 3vw;
    justify-content: center;
    align-items: center;
}
.item {
    position: relative;
    max-width: 350px;
    width: 100%;
}
.item img {
    width: -webkit-fill-available;
    height: auto;
}
.circle {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    top: 5vw;
    width: 7vw;
    height: 7vw;
    border: 1px solid #F19A3E;
    border-radius: 50%;
    white-space: nowrap;
}
.circle p {
    margin-left: 10%;
    margin-top: 40%;
    color: #1E1E1E;
    font-family: 'Playfair Display';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* Мастера */
.specialists {
    padding: 6% 0 8%;
    background: #F1F1F1;
}
.mt {
    margin-top: 4vw;
}
/* Футер */
.footer {
    padding: 6% 0% 3%;
    background: #F19A3E;
}
.footer-p {
    color: #F8F8FF;
    font-family: 'Playfair Display';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 2vw;
}
.footer__item svg, .footer__left svg {
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    width: 60px;
    height: 59px;
    padding: 13px;
    margin-right: 45px;
}
.footer__flex {
    display: flex;
    padding: 0 3%;
    flex-wrap: wrap;
    justify-content: center;
}
.footer__left {
    margin-left: auto;
    text-align: right;
}
.footer-h4 {
    display: inline-block;
    color: #F5F6FA;
    font-family: 'Playfair Display';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    margin-right: 30px;
    vertical-align: 50%;
}
.footer__left svg {
    margin-right: 0;
}
.footer__left svg:hover {
    border-radius: 50px;
}
.footer__left svg:active {
    border: 3px solid #F1F1F1;

}
.footer-pb {
    margin-top: 4vw;
    text-align: center;
    color:  #F1F1F1;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
#serviceModal {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
}
#serviceModal img {
    width: 100%;
}
#closeModal {
    padding: 0 10px;
    top: 0;
    right: 0;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    background: #F0EBE4;
    border-radius: 8px;
}
/* Адаптив */

@media screen and (max-width: 1459px) {
    .container {
        max-width: 1100px;
    }
    .circle {
        display: none;
    }
}

@media screen and (max-width: 1366px) {
    .container {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1150px) {
    .container {
        max-width: 900px;
    }
}

@media screen and (max-width: 944px) {
    .container {
        max-width: 750px;
    }
    .nav {
        max-width: 750px;
        margin: 0 3vw;
        justify-content: space-between;
    }
    .nav__menu {
        display: none;
    }
    .nav__burger {
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .nav-h2, .about-h2, .services-h2 {
        font-size: max(18px, 5vw);
    }
    .about-h2 {
        text-align: center;
    }

    .about__flex {
        display: block;
        height: 450px;
    }
    .about-h2b, .about-p, .about-gray, .about svg {
        display: none;
    }
    .right {
        margin-top: auto;
    }
    .about__item {
        max-width: none;
        text-align: right;
    }
    .about-btn {
        height: 30px;
        width: 90px;
    }
    .about-img {
        max-width: none;
        width: 370px;
    }
    .about-line {
        margin-top: 200px;
        margin-left: auto;
    }
}

@media screen and (max-width: 389px) {
    .about-img {
        width: 100vw;
    }
    .about__flex {
        height: 120vw;
    }
    .about-line {
        margin-top: 55vw;
    }
    .footer__item svg {
        margin-right: 5vw;
    }
}

@media screen and (max-width: 325px) {
    .about-line {
    }
    .about-h2, .services-h2 {
        line-height: 20px;
    }
}   
